.p{
    color:white;
    margin-bottom: 10px;
    font-size: 1.2rem;
}


.section{
    background-image: url(../assets/img/footer-bg.jpg) ;
    padding: 50px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    

}


.container{
   display: flex;
   flex-wrap: wrap;
   gap: 70px;
   justify-content: center;
  
}
   


.col{
    width: calc(100% / 6);

}




.ul{
    list-style-type: none;
    margin: 10px 0;
    color: grey;
}

.ul li{
 text-align: left;
 margin-bottom: 5px;
 font-size: 1rem;
}

.dc{
    display: flex;
}

