.Header{
    margin-top: 10px;
    display: flex;
    justify-content: space-between; 
    margin-left: 5px;
}

.ul{
    display: flex;
  
    gap: 20px;
    margin-top: 10px;
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}