.Header{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding: 20px;
    margin-right: 50px;
    background-color: white;
    width: 100%;
    height: 100px;
    
}

.ul{
    display: flex;
    gap: 20px;
    margin-left: 50px;
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}